.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}


.List-block {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  margin: 8px;
  padding: 42px;
}