.List-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 54px;
}

.AddList{
    display: flex;
    flex-direction: row;
}

.Input-add {
    padding: 6px;
}

.Button-add{
    margin-left: 10px;
}

.WatchList{
    display: flex;
    flex-direction: column;
}

.WatchList > p {
    font-weight: bold;
}